# Q2_Part TWO
- use employee_compensation dataset.
- Filter out the result based on only Calendar year data
- Find average of all types of compensation for each employee
- List out the employees whose overtime salary is greater than 5% of their salary
- For each job family calculate Percentage of total benefits based on average total benefits and average total compensation
- Generate CSV for all the employee records with overtime salary is greater than 5% of their salary
- Generate CSV with 4 columns(Job family, Total benefits, Total Compensation and percentage of total benefits)

In [5]:
import os
import pandas as pd
import numpy as np

In [6]:
#getting current working directory
b = os.getcwd()

#reading the csv file
df = pd.read_csv(b+"/"+"employee_compensation.csv", usecols=[0,1,9,11,12,13,14,15,16,17,18,19,20,21])

In [7]:
#printing the top 5 records of the data frame
df.head()

,Year Type,Year,Job Family,Job,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
0,Calendar,2013,Journeyman Trade,Plumber,52206,98528.52,0.00,3955.59,102484.11,20142.55,12918.24,8371.76,41432.55,143916.66
1,Fiscal,2015,Dietary & Food,Senior Food Service Supervisor,52950,69169.82,755.02,4179.08,74103.92,15641.92,12499.30,5669.02,33810.24,107914.16
2,Calendar,2016,Management,"Bdcomm Mbr, Grp2,M=$25/Mtg",33958,200.00,0.00,0.00,200.00,0.00,51.45,15.83,67.28,267.28
3,Calendar,2016,Legal & Court,Invstgtor Ofc Citizen Cmplnts,33073,1783.00,0.00,0.00,1783.00,325.05,257.23,153.85,736.13,2519.13
4,Fiscal,2015,Public Service Aide,Public Service Trainee,15849,1102.50,0.00,0.00,1102.50,0.00,538.82,85.36,624.18,1726.68

In [8]:
#filtering data for only Calendar year type
Cal_Data = df[df['Year Type'] == "Calendar"]

Cal_Data.head()

,Year Type,Year,Job Family,Job,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
0,Calendar,2013,Journeyman Trade,Plumber,52206,98528.52,0.00,3955.59,102484.11,20142.55,12918.24,8371.76,41432.55,143916.66
2,Calendar,2016,Management,"Bdcomm Mbr, Grp2,M=$25/Mtg",33958,200.00,0.00,0.00,200.00,0.00,51.45,15.83,67.28,267.28
3,Calendar,2016,Legal & Court,Invstgtor Ofc Citizen Cmplnts,33073,1783.00,0.00,0.00,1783.00,325.05,257.23,153.85,736.13,2519.13
5,Calendar,2016,"Clerical, Secretarial & Steno",Principal Clerk,23930,80207.24,2232.53,1568.00,84007.77,15064.98,13890.29,6888.51,35843.78,119851.55
7,Calendar,2014,Public Service Aide,Publ Svc Aide-Asst To Prof,38054,24180.00,0.00,0.00,24180.00,1490.20,8586.13,1880.37,11956.70,36136.70

In [9]:
#Calculating the mean of all the different types of salary columns
AvgSal = df.groupby(['Year','Job Family','Job','Employee Identifier']).mean()

In [19]:
#printing the first 5 records of the resultant dataset
AvgSal.head()

,Year,Job Family,Job,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
0,2013,Administrative & Mgmt (Unrep),"Administrator, Department Of Public Heal",25462,42507.360,0.0,0.00,42507.360,8850.040,1913.810,1595.280,12359.130,54866.490
1,2013,Administrative & Mgmt (Unrep),"Dep Dir For Investments, Ret",28784,294509.005,0.0,0.00,294509.005,54441.130,12244.545,14318.895,81004.570,375513.575
2,2013,Administrative & Mgmt (Unrep),Mayor,2321,278774.685,0.0,0.00,278774.685,51449.970,12860.015,13328.875,77638.860,356413.545
3,2013,Administrative & Mgmt (Unrep),Youth Comm Advisor,22651,27066.060,0.0,5296.91,32362.970,4928.695,5743.660,2617.650,13290.005,45652.975
4,2013,Administrative & Mgmt (Unrep),Youth Comm Advisor,44553,29250.030,0.0,0.00,29250.030,6133.670,7116.360,2325.635,15575.665,44825.695

In [11]:
#resetting the index of the dataset to create a flat index
AvgSal = AvgSal.reset_index()

In [12]:
#Filtering the records of employees with overtime value more than 5% of Salaries
Ovrtime_ = AvgSal[AvgSal['Overtime'] > 0.05 * AvgSal['Salaries']]

Ovrtime_.head()

,Year,Job Family,Job,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
61,2013,Administrative-Labor & Trades,Bldgs & Grounds Maint Supt,27,112107.380,6057.535,21186.840,139351.755,22229.385,12860.015,10070.925,45160.325,184512.080
64,2013,Administrative-Labor & Trades,Bldgs & Grounds Maint Supt,13054,111880.515,6605.290,8557.225,127043.030,22190.625,12860.015,9481.175,44531.815,171574.845
68,2013,Administrative-Labor & Trades,Bldgs & Grounds Maint Supt,19735,111880.520,24168.720,41209.910,177259.150,23667.815,12860.015,10322.605,46850.435,224109.585
69,2013,Administrative-Labor & Trades,Bldgs & Grounds Maint Supt,20763,111669.925,23239.285,9885.640,144794.850,22371.805,12835.395,9871.915,45079.115,189873.965
73,2013,Administrative-Labor & Trades,Bldgs & Grounds Maint Supt,48340,111880.565,7268.585,25702.050,144851.200,22706.770,12860.015,9812.775,45379.560,190230.760

In [28]:
#Filtering out Job Family, Total Benefits and Total Compensation to a new dataframe
JobFamilyAvg = AvgSal[['Job Family', 'Total Benefits', 'Total Compensation']]
JobFamilyAvg = JobFamilyAvg.groupby(['Job Family']).mean()

In [29]:
#printing out the top 5 Job family data with average Benefits and Compensation
JobFamilyAvg.head()

#JobFamilyAvg.shape

                               Total Benefits  Total Compensation
Job Family
Administrative & Mgmt (Unrep)    52863.803824       224191.610000
Administrative Secretarial       28603.667125       100886.633500
Administrative-DPW/PUC           40348.422709       152753.980940
Administrative-Labor & Trades    38446.654833       155479.007758
Agriculture & Horticulture       24116.294685        77243.461984

In [30]:
#calculating the percentage total benefits columns based on Total Benefits and Total Compensation
JobFamilyAvg['Percent_Total_Benefit'] = (JobFamilyAvg['Total Benefits'] / JobFamilyAvg['Total Compensation']) * 100

In [31]:
JobFamilyAvg.head()

,Total Benefits,Total Compensation,Percent_Total_Benefit
Job Family,,,
Administrative & Mgmt (Unrep),52863.803824,224191.610000,23.579742
Administrative Secretarial,28603.667125,100886.633500,28.352286
Administrative-DPW/PUC,40348.422709,152753.980940,26.413991
Administrative-Labor & Trades,38446.654833,155479.007758,24.727875
Agriculture & Horticulture,24116.294685,77243.461984,31.221147

In [32]:
#reseting the index to make a flat index
JobFamilyAvg = JobFamilyAvg.reset_index()

JobFamilyAvg

,Job Family,Total Benefits,Total Compensation,Percent_Total_Benefit
0,Administrative & Mgmt (Unrep),52863.803824,224191.610000,23.579742
1,Administrative Secretarial,28603.667125,100886.633500,28.352286
2,Administrative-DPW/PUC,40348.422709,152753.980940,26.413991
3,Administrative-Labor & Trades,38446.654833,155479.007758,24.727875
4,Agriculture & Horticulture,24116.294685,77243.461984,31.221147
5,Airport Operation,30319.684614,104231.463327,29.088803
6,Appraisal & Taxation,26784.925999,88826.815729,30.154099
7,"Budget, Admn & Stats Analysis",26043.787048,88631.728007,29.384271
8,"Clerical, Secretarial & Steno",19807.190322,61187.691475,32.371201
9,Community Development,27212.112734,91449.042211,29.756586
10,Computer Operatns & Repro Svcs,18804.284008,60060.072344,31.309126
11,Construction Inspection,31492.358888,113604.893622,27.720953
12,Construction Project Mgmt,35984.670751,139761.675997,25.747166
13,Correction & Detention,30623.050744,129215.138897,23.699275
14,Dietary & Food,18497.910705,57872.005426,31.963487
15,Emergency Services,24435.315703,84082.526386,29.061110
16,Energy & Environment,30938.119345,107500.410010,28.779536
17,Fire Services,36431.395784,175765.756826,20.727243
18,Health & Sanitation Inspection,34307.580519,121847.681470,28.156121
19,Hospital Administration,25455.342396,82047.378957,31.025174
20,Housekeeping & Laundry,22972.767459,70192.153301,32.728398
21,Human Services,25290.665704,84600.010223,29.894400
22,Information Systems,31057.485997,112356.938791,27.641805
23,Journeyman Trade,31378.193643,116178.714632,27.008556
24,"Lab, Pharmacy & Med Techs",29076.992270,104054.246792,27.944071
25,Legal & Court,37128.870378,140687.340779,26.391053
26,Library,20452.060293,64596.851211,31.661079
27,Management,39105.663309,138177.351114,28.301066
28,Med Therapy & Auxiliary,24498.327810,81680.249033,29.992964
29,Medical & Dental,32815.569141,137491.879427,23.867278
30,Museum & Cultural Affairs,19448.177142,62983.423898,30.878247
31,N,14255.250000,54927.750000,25.952729
32,Nursing,22470.019664,93090.467964,24.137831
33,Park & Zoo,16279.500642,49762.341632,32.714499
34,"Payroll, Billing & Accounting",24697.868560,80787.816718,30.571279
35,Personnel,21311.858380,71520.102597,29.798417
36,Police Services,28978.533516,141779.576403,20.439145
37,Port Operation,35567.814167,129689.379250,27.425387
38,Probation & Parole,29051.133969,110292.416024,26.340101
39,Professional Engineering,32241.799761,116493.700773,27.676861
40,Property Administration,30783.665125,110261.110562,27.918878
41,Protection & Apprehension,19861.554038,69952.672403,28.392845
42,Pub Relations & Spec Assts,22147.315911,73639.088029,30.075489
43,Public Health,31276.204592,110273.855173,28.362303
44,Public Safety Inspection,34795.286896,129310.178466,26.908390
45,Public Service Aide,4539.518870,12939.531418,35.082560
46,Purchasing & Storekeeping,25178.262672,83048.409489,30.317574
47,Recreation,4757.963412,15416.396725,30.863006
48,Revenue,23547.024998,75460.686220,31.204361
49,SF Redevelopment Agency,23029.044500,75328.384200,30.571537
50,SF Superior Court,28273.413889,93225.256312,30.328062
51,Semi-Skilled & General Labor,20914.085465,67175.984963,31.133277
52,Skilled Labor,27511.884917,96843.415540,28.408627
53,Street Transit,28844.193731,94954.193390,30.376956
54,Sub-Professional Engineering,11245.661469,39156.017745,28.720136
55,Supervisory-Labor & Trade,34858.038654,133433.839415,26.123837
56,Y,37228.340000,171787.590000,21.671146

## Printing the result in a csv

In [34]:
#function to check is directory exists
def funCheckDir(path):
    directory = os.path.dirname(path) # defining directory path
    if not os.path.exists(directory): # checking if directory already exists
        os.makedirs(directory) # making a directory

#printing the first csv with overtime data        
resultsPath1 = b+"/Q2_Part_2_overtimeData.csv"

#printing the second csv with total compensation data
resultsPath2 = b+"/Q2_Part_2_PercentTotBenefit.csv"

funCheckDir(resultsPath1)
funCheckDir(resultsPath2)

# Saving our result dataFrame to csv file.
Ovrtime_.to_csv(resultsPath1, index=False, encoding='utf-8')
JobFamilyAvg.to_csv(resultsPath2, index=False, encoding='utf-8')