In [1]:
import os
import pandas as pd

In [38]:
#getting current working directory
b = os.getcwd()

#reading the csv file
df = pd.read_csv(b+"/"+"vehicle_collisions.csv", parse_dates=['DATE'], usecols=[0,1,3,19,20,21,22,23]) #usecols=[0,1,3]) #vehicle_collisions.csv, , delim_whitespace=True, , header=None

In [39]:
df.columns

Index(['UNIQUE KEY', 'DATE', 'BOROUGH', 'VEHICLE 1 TYPE', 'VEHICLE 2 TYPE',
       'VEHICLE 3 TYPE', 'VEHICLE 4 TYPE', 'VEHICLE 5 TYPE'],
      dtype='object')

In [42]:
df.head()

,UNIQUE KEY,DATE,BOROUGH,VEHICLE 1 TYPE,VEHICLE 2 TYPE,VEHICLE 3 TYPE,VEHICLE 4 TYPE,VEHICLE 5 TYPE
0,3146911,2015-01-01,QUEENS,SPORT UTILITY/STATION WAGON,NaN,NaN,NaN,NaN
1,3146180,2015-01-01,Not Listed,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
2,3146384,2015-01-01,BROOKLYN,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
3,3146013,2015-01-01,BROOKLYN,BUS,PASSENGER VEHICLE,NaN,NaN,NaN
4,3146120,2015-01-01,Not Listed,UNKNOWN,PASSENGER VEHICLE,NaN,NaN,NaN

In [41]:
df['BOROUGH'] = df.BOROUGH.fillna('Not Listed')

In [43]:
df_borough = df['UNIQUE KEY'].groupby(df['BOROUGH']).count()

In [44]:
df_borough.head()

BOROUGH
BRONX          46124
BROOKLYN      104961
MANHATTAN      83602
Not Listed    139342
QUEENS         89655
Name: UNIQUE KEY, dtype: int64

In [23]:
#df = df.fillna(0)

In [51]:
pd.isnull(df['VEHICLE 2 TYPE'])

0          True
1          True
2         False
3         False
4         False
5         False
6         False
7         False
8          True
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21         True
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
477702    False
477703    False
477704    False
477705     True
477706    False
477707    False
477708    False
477709    False
477710    False
477711     True
477712     True
477713    False
477714    False
477715     True
477716     True
477717     True
477718     True
477719    False
477720    False
477721    False
477722     True
477723     True
477724     True
477725    False
477726    False
477727    False
477728     True
477729     True
477730    False
477731     True
Name: VEHICLE 2 TYPE, dtype: bool

In [49]:
for index, row in df.iterrows():
    if(pd.isnull(df['VEHICLE 2 TYPE']) & pd.isnull(df['VEHICLE 3 TYPE']) & pd.isnull(df['VEHICLE 4 TYPE']) & pd.isnull(df['VEHICLE 5 TYPE'])):
        df['ONE_VEHICLE_INVOLVED'] = 1
    elif((pd.isnull(df['VEHICLE 3 TYPE'])== True) & (pd.isnull(df['VEHICLE 4 TYPE'])== True) & (pd.isnull(df['VEHICLE 5 TYPE'])== True)):
        df['TWO_VEHICLE_INVOLVED'] = 1
    elif((pd.isnull(df['VEHICLE 4 TYPE'])== True) & (pd.isnull(df['VEHICLE 5 TYPE'])== True)):
        df['THREE_VEHICLE_INVOLVED'] = 1
    else:
        df['MANY_VEHICLE_INVOLVED'] = 1

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
for index, row in df.iterrows():
    if(df['VEHICLE 2 TYPE'].empty) & pd.isnull(df['VEHICLE 3 TYPE']) & pd.isnull(df['VEHICLE 4 TYPE']) & pd.isnull(df['VEHICLE 5 TYPE'])):
        df['ONE_VEHICLE_INVOLVED'] = 1