# Q2_Part TWO
- use employee_compensation dataset.
- Filter out the result based on only Calendar year data
- Find average of all types of compensation for each employee
- List out the employees whose overtime salary is greater than 5% of their salary
- For each job family calculate Percentage of total benefits based on average total benefits and average total compensation
- Generate CSV for all the employee records with overtime salary is greater than 5% of their salary
- Generate CSV with 4 columns(Job family, Total benefits, Total Compensation and percentage of total benefits)

In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
#getting current working directory
b = os.getcwd()

#reading the csv file
df = pd.read_csv(b+"/"+"Data/employee_compensation.csv", usecols=[0,1,9,11,12,13,14,15,16,17,18,19,20,21])

In [3]:
#printing the top 5 records of the data frame
df.head()

,Year Type,Year,Job Family,Job,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
0,Calendar,2013,Journeyman Trade,Plumber,52206,98528.52,0.00,3955.59,102484.11,20142.55,12918.24,8371.76,41432.55,143916.66
1,Fiscal,2015,Dietary & Food,Senior Food Service Supervisor,52950,69169.82,755.02,4179.08,74103.92,15641.92,12499.30,5669.02,33810.24,107914.16
2,Calendar,2016,Management,"Bdcomm Mbr, Grp2,M=$25/Mtg",33958,200.00,0.00,0.00,200.00,0.00,51.45,15.83,67.28,267.28
3,Calendar,2016,Legal & Court,Invstgtor Ofc Citizen Cmplnts,33073,1783.00,0.00,0.00,1783.00,325.05,257.23,153.85,736.13,2519.13
4,Fiscal,2015,Public Service Aide,Public Service Trainee,15849,1102.50,0.00,0.00,1102.50,0.00,538.82,85.36,624.18,1726.68

In [4]:
#filtering data for only Calendar year type
Cal_Data = df[df['Year Type'] == "Calendar"]

Cal_Data.head()

,Year Type,Year,Job Family,Job,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
0,Calendar,2013,Journeyman Trade,Plumber,52206,98528.52,0.00,3955.59,102484.11,20142.55,12918.24,8371.76,41432.55,143916.66
2,Calendar,2016,Management,"Bdcomm Mbr, Grp2,M=$25/Mtg",33958,200.00,0.00,0.00,200.00,0.00,51.45,15.83,67.28,267.28
3,Calendar,2016,Legal & Court,Invstgtor Ofc Citizen Cmplnts,33073,1783.00,0.00,0.00,1783.00,325.05,257.23,153.85,736.13,2519.13
5,Calendar,2016,"Clerical, Secretarial & Steno",Principal Clerk,23930,80207.24,2232.53,1568.00,84007.77,15064.98,13890.29,6888.51,35843.78,119851.55
7,Calendar,2014,Public Service Aide,Publ Svc Aide-Asst To Prof,38054,24180.00,0.00,0.00,24180.00,1490.20,8586.13,1880.37,11956.70,36136.70

In [5]:
#Calculating the mean of all the different types of salary columns
AvgSal = df.groupby(['Year','Job Family','Job','Employee Identifier']).mean()

In [6]:
#printing the first 5 records of the resultant dataset
AvgSal.head()

                                                                                                   Salaries  \
Year Job Family                    Job                                      Employee Identifier
2013 Administrative & Mgmt (Unrep) Administrator, Department Of Public Heal 25462                 42507.360
                                   Dep Dir For Investments, Ret             28784                294509.005
                                   Mayor                                    2321                 278774.685
                                   Youth Comm Advisor                       22651                 27066.060
                                                                            44553                 29250.030

                                                                                                 Overtime  \
Year Job Family                    Job                                      Employee Identifier
2013 Administrative & Mgmt (Unrep) Administrator, Department Of Public Heal 25462                     0.0
                                   Dep Dir For Investments, Ret             28784                     0.0
                                   Mayor                                    2321                      0.0
                                   Youth Comm Advisor                       22651                     0.0
                                                                            44553                     0.0

                                                                                                 Other Salaries  \
Year Job Family                    Job                                      Employee Identifier
2013 Administrative & Mgmt (Unrep) Administrator, Department Of Public Heal 25462                          0.00
                                   Dep Dir For Investments, Ret             28784                          0.00
                                   Mayor                                    2321                           0.00
                                   Youth Comm Advisor                       22651                       5296.91
                                                                            44553                          0.00

                                                                                                 Total Salary  \
Year Job Family                    Job                                      Employee Identifier
2013 Administrative & Mgmt (Unrep) Administrator, Department Of Public Heal 25462                   42507.360
                                   Dep Dir For Investments, Ret             28784                  294509.005
                                   Mayor                                    2321                   278774.685
                                   Youth Comm Advisor                       22651                   32362.970
                                                                            44553                   29250.030

                                                                                                 Retirement  \
Year Job Family                    Job                                      Employee Identifier
2013 Administrative & Mgmt (Unrep) Administrator, Department Of Public Heal 25462                  8850.040
                                   Dep Dir For Investments, Ret             28784                 54441.130
                                   Mayor                                    2321                  51449.970
                                   Youth Comm Advisor                       22651                  4928.695
                                                                            44553                  6133.670

                                                                                                 Health/Dental  \
Year Job Family                    Job                                      Employee Identifier
2013 Administrative & Mgmt (Unrep) Administrator, Department Of Public Heal 25462                     1913.810
                                   Dep Dir For Investments, Ret             28784                    12244.545
                                   Mayor                                    2321                     12860.015
                                   Youth Comm Advisor                       22651                     5743.660
                                                                            44553                     7116.360

                                                                                                 Other Benefits  \
Year Job Family                    Job                                      Employee Identifier
2013 Administrative & Mgmt (Unrep) Administrator, Department Of Public Heal 25462                      1595.280
                                   Dep Dir For Investments, Ret             28784                     14318.895
                                   Mayor                                    2321                      13328.875
                                   Youth Comm Advisor                       22651                      2617.650
                                                                            44553                      2325.635

                                                                                                 Total Benefits  \
Year Job Family                    Job                                      Employee Identifier
2013 Administrative & Mgmt (Unrep) Administrator, Department Of Public Heal 25462                     12359.130
                                   Dep Dir For Investments, Ret             28784                     81004.570
                                   Mayor                                    2321                      77638.860
                                   Youth Comm Advisor                       22651                     13290.005
                                                                            44553                     15575.665

                                                                                                 Total Compensation
Year Job Family                    Job                                      Employee Identifier
2013 Administrative & Mgmt (Unrep) Administrator, Department Of Public Heal 25462                         54866.490
                                   Dep Dir For Investments, Ret             28784                        375513.575
                                   Mayor                                    2321                         356413.545
                                   Youth Comm Advisor                       22651                         45652.975
                                                                            44553                         44825.695

In [7]:
#resetting the index of the dataset to create a flat index
AvgSal = AvgSal.reset_index()

In [8]:
#Filtering the records of employees with overtime value more than 5% of Salaries
Ovrtime_ = AvgSal[AvgSal['Overtime'] > 0.05 * AvgSal['Salaries']]

Ovrtime_.head()

,Year,Job Family,Job,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
61,2013,Administrative-Labor & Trades,Bldgs & Grounds Maint Supt,27,112107.380,6057.535,21186.840,139351.755,22229.385,12860.015,10070.925,45160.325,184512.080
64,2013,Administrative-Labor & Trades,Bldgs & Grounds Maint Supt,13054,111880.515,6605.290,8557.225,127043.030,22190.625,12860.015,9481.175,44531.815,171574.845
68,2013,Administrative-Labor & Trades,Bldgs & Grounds Maint Supt,19735,111880.520,24168.720,41209.910,177259.150,23667.815,12860.015,10322.605,46850.435,224109.585
69,2013,Administrative-Labor & Trades,Bldgs & Grounds Maint Supt,20763,111669.925,23239.285,9885.640,144794.850,22371.805,12835.395,9871.915,45079.115,189873.965
73,2013,Administrative-Labor & Trades,Bldgs & Grounds Maint Supt,48340,111880.565,7268.585,25702.050,144851.200,22706.770,12860.015,9812.775,45379.560,190230.760

In [9]:
#Filtering out Job Family, Total Benefits and Total Compensation for employees with overtime > 5% of salary to a new dataframe
JobFamilyAvg = Ovrtime_[['Job Family', 'Total Benefits', 'Total Compensation']]
JobFamilyAvg = JobFamilyAvg.groupby(['Job Family']).mean()

In [10]:
#printing out the top 5 Job family data with average Benefits and Compensation
JobFamilyAvg.head()

#JobFamilyAvg.shape

                               Total Benefits  Total Compensation
Job Family
Administrative-DPW/PUC           41026.650000       164433.465000
Administrative-Labor & Trades    38629.448826       173568.911174
Agriculture & Horticulture       28532.549728        96652.705004
Airport Operation                34950.073929       127218.024141
Appraisal & Taxation              5978.455000        18123.290000

In [11]:
#calculating the percentage total benefits columns based on Total Benefits and Total Compensation
JobFamilyAvg['Percent_Total_Benefit'] = (JobFamilyAvg['Total Benefits'] / JobFamilyAvg['Total Compensation']) * 100

In [12]:
JobFamilyAvg.head()

,Total Benefits,Total Compensation,Percent_Total_Benefit
Job Family,,,
Administrative-DPW/PUC,41026.650000,164433.465000,24.950304
Administrative-Labor & Trades,38629.448826,173568.911174,22.255972
Agriculture & Horticulture,28532.549728,96652.705004,29.520694
Airport Operation,34950.073929,127218.024141,27.472580
Appraisal & Taxation,5978.455000,18123.290000,32.987692

In [13]:
#reseting the index to make a flat index
JobFamilyAvg = JobFamilyAvg.reset_index()

#sorting with highest values first
JobFamilyAvg = JobFamilyAvg.sort_values(['Percent_Total_Benefit'], ascending=[False])

#printing the top 5 percent total benefits
JobFamilyAvg.head()

,Job Family,Total Benefits,Total Compensation,Percent_Total_Benefit
24,Management,8833.370833,21815.152500,40.491905
40,Public Service Aide,11645.602794,32801.842059,35.502893
29,Park & Zoo,23268.145156,69725.721406,33.370964
4,Appraisal & Taxation,5978.455000,18123.290000,32.987692
27,Museum & Cultural Affairs,15163.392500,46243.206667,32.790530

## Printing the result in a csv

In [15]:
#function to check is directory exists
def funCheckDir(path):
    directory = os.path.dirname(path) # defining directory path
    if not os.path.exists(directory): # checking if directory already exists
        os.makedirs(directory) # making a directory

#printing the result data        
resultsPath = b+"/Q2_Part_2.csv"

funCheckDir(resultsPath)

# Saving our result dataFrame to csv file.
JobFamilyAvg.to_csv(resultsPath, index=False, encoding='utf-8')

## Converting the .ipynb file to .py file

In [16]:
!jupyter nbconvert --to script Assignment3_Q2_2.ipynb

[NbConvertApp] Converting notebook Assignment3_Q2_2.ipynb to script
[NbConvertApp] Writing 3182 bytes to Assignment3_Q2_2.py